*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno{
    padding: 0 50px;
}
.header{
    background: url(../imagenes/banner.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}
.header__menu{
    background: rgba(0,0,0,.1);
    display: flex;
    flex-flow: nowrap;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
        .header__logo{
            flex:1 1 auto;
            height: 45px;
            width: 10%;
        }
            .header__logo a{
                color: #fff;
                font-size: 30px;
            }
            .header__logo a:hover{
                color: #343434;
            }
        .nav{
            flex:5 1 auto;
            height: 30px;
        }
            .nav a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
            .nav a:hover{
                color: red
            }
        .social{
            flex:1 1 auto;
            display: flex;
            height: 30px;
        }
            .social a{
                font-size: 18px;
                color: #fff;
                padding: 0 5px;
            }
            .social a :hover{
                color: #343434;
            }
        .texto-principal{
            height: 580px;
            display: flex;
            align-items: center;
        }
        h1{
            font-family: 'Lora', serif;
            font-size: 21px;
            color: #fff;
            font-weight: 300;
            text-align: center;
            line-height: 1.6;

        }
.section{
    background: #000;
    display: flex;
}
    .articulos{
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }
    h3{
        color: #fff;
        font-size: 13px;
        padding: 8px 0;
        padding-left: 180px;
    }
    h5{
        margin: 10px;
        padding-left: 280px;
        font-size: 13px;
        color: #fff;
    }
    .articulos__article{
        flex: 1 1  40%;
        color: #444;
        font-size: 13px;
        letter-spacing: 1px;
        margin: 10px 10px 0 0px;
        flex: 1 1 45%;
    }
    .articulos__article img{
        width: 100%;
        border-radius: 1%;
        
    }
    .articulos__article a{
        
        color: #fff;
        font-size: 13px;
        padding: 10px;
        margin: 10px;
        margin-left: 290px;
        display: inline-block;
    }
    .articulos__article a:hover{
        background:#a799b7 ;
    }
    .navegacion{
    flex: 1 1  100%;
    margin: 10px 10px 0 0px;
    }
    .navegacion a{
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;
    }
    .aside{
         flex: 1 1 auto;
        margin: 10px 5px 10px 0;
        
    }
    .aside img{
        width: 100%;
        border-radius: 1%;
    }
    h4{
        background: #000;
        color: #fff;
        padding: 10px;
        text-transform: uppercase;
        font-size: 20px;
    }
.footer{
    background: #000;
    display: flex;
    justify-content: center;
}
.pie{
    background: #000;
    text-align: center;
}
.pie a{
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}
@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-widht: 600px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-widht: 400px){
    .articulos{
        flex-direction: column;
    }
}
.FAQ__Letter{
    color: #fff;
    text-align: center;
    padding-right: 100px;

}
.FAQ{
    font-size: 12px;
    padding-top: 30px;
    font-family: 'Lora', serif; 
}
.FAQ_parrafo{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: 'Lora', serif;
}
.iconos{
    width: 30px;
}
.dropdown-item:hover{
    background-color: #810000;
}
.articulos__article:hover{-webkit-transform:scale(1.03);transform:scale(1.03)}
.articulos__article {overflow:hidden;}
.publicidad:hover{-webkit-transform:scale(1.03);transform:scale(1.03)}
.publicidad {overflow:hidden;}